
<p><%= "Stupid coaching"%></p>

<p><%= "Ask your coach anything:"%></p>
<form action="/answer" method="get">
  <input type="text" name="ask">
  <input type="submit" value="Ask!"><br>
</form>

<p><%= @question %></p>
